<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <div class="text-center">

        <%= @answer %><br>
        <%= link_to "ask your question", ask_path, class:"btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
